<section id="register">
  <h2>Register</h2>
  <form id="register-form">
    <input type="text" id="reg-name" placeholder="Name" />
    <input type="email" id="reg-email" placeholder="Email" />
    <input type="password" id="reg-password" placeholder="Password" />
    <select name="reg-country" id="reg-country">
      <option value="es">España</option>
      <option value="fr">Francia</option>
      <option value="mx">México</option>
      <option value="us">EEUU</option>
    </select>
    <button type="submit">Register</button>
  </form>
</section>
